body {
    margin: 0;
    font-family: 'Platypi', sans-serif, serif;
    color: white;
    background: rgb(49, 52, 82);
    padding: 0%;
}

h1 {
    padding-top: 10%;
}

/* header is getting eaten by the content. need to figure that out */
/* solved */
.spacer {
    aspect-ratio: 960/300;
    width: 100%;
    /* overflow: hidden; */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url('./layer1.svg');
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

input {
    border: #313452;
    border-style: groove;
}

textarea {
    border: #313452;
    border-style: groove;
}

section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 300px;
    padding: 50px 20vw;
}

.button {
    color: black;
    padding: 1% 1%;
    text-decoration: none;
    text-align: center;
    border-radius: 30% 10%;
}

.submit {
    position:inherit;
    padding: 2%;
    margin-top: 5%;
    color: black;
    padding: 1% 2%;
    text-decoration: none;
    text-align: center;
    border-radius: 30% 10%;
    /* box-shadow: #313452;
    transition: box-shadow 0.5s ease; */
} 

/* .submit button:hover {
    background-color: black;
    background-size: 50%;
    color: black;
    transition: box-shadow .5s ease;
    box-shadow: 0 0 10px 5px black;
} */

.darkBlue {
    background: #313452;
}

.yellow {
    background: #EDAE49;
    color: #313452;
}

.red {
    background: #D1495B;
}

.blue {
    background: #30638E;
}

.teal {
    background: #00798C;
}

a .footer {
    color: #EDAE49;
}

a:visited {
    color: #EDAE49;
}

a:hover {
    color: #D1495B;
}

.footerSpacer {
    aspect-ratio: 960/300;
    width: 100%;
    /* overflow: hidden; */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url('./footer-spacer.svg');
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}



