body {
    margin: 0;
    font-family: 'Platypi', sans-serif, serif;
    color: white;
    background: rgb(49, 52, 82);
    padding: 0%;
}

h1 {
    padding-top: 10%;
}

/* header is getting eaten by the content. need to figure that out */
/* solved */
.spacer {
    aspect-ratio: 960/300;
    width: 100%;
    /* overflow: hidden; */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url('./layer1.svg');
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

input {
    border: #313452;
    border-style: groove;
}

textarea {
    border: #313452;
    border-style: groove;
}

section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 300px;
    padding: 50px 20vw;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.submit {
    position:inherit;
    padding: 2%;
    margin-top: 5%;
    color: black;
    padding: 1% 2%;
    text-decoration: none;
    text-align: center;
    border-radius: 30% 10%;
    border-style: groove;

    /* box-shadow: #313452;
    transition: box-shadow 0.5s ease; */
} 

/* .submit button:hover {
    background-color: black;
    background-size: 50%;
    color: black;
    transition: box-shadow .5s ease;
    box-shadow: 0 0 10px 5px black;
} */

.darkBlue {
    background: #313452;
}

.yellow {
    background: #EDAE49;
    color: #313452;
}

.red {
    background: #D1495B;
}

.blue {
    background: #30638E;
}

.teal {
    background: #00798C;
}

a .footer {
    color: #EDAE49;
}

a:visited {
    color: #EDAE49;
}

a:hover {
    color: #D1495B;
}

.footerSpacer {
    aspect-ratio: 960/300;
    width: 100%;
    /* overflow: hidden; */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url('./footer-spacer.svg');
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.dark-mode .spacer {
    aspect-ratio: 960/300;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url('./dark-header.svg');
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.dark-mode .footerSpacer {
    aspect-ratio: 960/300;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url('./stacked-waves-haikei.svg');
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}


.dark-mode {
    background: #313452;
    color: #EDAE49;
}

.dark-mode .yellow {
    background: #001122;
    color: whitesmoke;
}

.dark-mode .red {
    background: #313452;
}

.dark-mode .blue {
    background: #313452;
}

.dark-mode .teal {
    background: #313452;
}

.dark-mode a,
.dark-mode a:visited {
    color: #ffdd76;
}

.dark-mode a:hover {
    color: #ff8a65;
}
